@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Open+Sans+Condensed:700&subset=latin-ext);
.row {
  display: flex;
  direction: row;
  justify-content: space-between; }

.column {
  display: flex;
  direction: column;
  justify-content: space-between; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, header, footer, section, article, aside, input, button, textarea, label, li, ul, tr, td, th, table {
  box-sizing: border-box; }

.title, .content-header-title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 4rem;
  text-transform: uppercase; }

.subtitle, .content-header-subtitle {
  color: #777;
  font-size: 0.9rem; }

.heading, .center-side-title {
  font-family: "Open Sans Condensed";
  font-size: 1.5rem;
  line-height: 2.5rem; }

.subheading, .center-side-subtitle {
  color: #777;
  font-size: 0.9rem; }

.body-primary {
  color: #212121; }

.body-secondary, label, .content-list-item-data-item {
  color: #777; }

.hidden {
  display: none; }

.centered {
  text-align: center; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.link, .register-form .tos-label a {
  color: #FF5252;
  text-decoration: none; }
  .link:hover, .register-form .tos-label a:hover {
    cursor: pointer;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed"; }

h2 {
  font-size: 1.4rem;
  line-height: 3rem; }

input, select, textarea {
  background: none;
  border: none;
  border-bottom: 0.125rem solid #EAEAEA;
  box-shadow: none;
  display: block;
  font-family: "Open Sans";
  font-size: 1rem;
  height: 2rem;
  line-height: 1.75rem;
  outline: none;
  padding: 0.125rem 0.5rem; }
  input:focus, select:focus, textarea:focus {
    border-bottom-color: #2196F3;
    box-shadow: none;
    outline: none; }
  input:invalid, input:-moz-ui-invalid, select:invalid, select:-moz-ui-invalid, textarea:invalid, textarea:-moz-ui-invalid {
    border-bottom-color: #FF5252;
    box-shadow: none; }

::-webkit-input-placeholder {
  color: #777; }

:-moz-placeholder {
  color: #777; }

::-moz-placeholder {
  color: #777; }

:-ms-input-placeholder {
  color: #777; }

input[type="file"] {
  border: none; }

textarea {
  resize: none;
  height: auto;
  min-height: 2rem; }

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: none;
  box-shadow: none;
  color: #212121;
  display: block;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-weight: 700;
  height: 2rem;
  letter-spacing: -0.5px;
  line-height: 2rem;
  outline: none;
  text-transform: uppercase; }
  button:hover {
    background: rgba(33, 150, 243, 0.1);
    cursor: pointer; }
  button:focus {
    outline: 1px dotted #2196F3; }
  button:active {
    background: rgba(33, 150, 243, 0.2); }
  button::-moz-focus-inner {
    border: 0;
    margin: 0;
    padding: 0; }
  button:disabled {
    background: none !important;
    color: #AAA !important; }
    button:disabled:hover {
      background: none;
      color: #777;
      cursor: default; }
    button:disabled:active {
      background: none; }
  button.dim {
    color: #AAA; }
    button.dim:hover {
      color: #777; }
  button.alt {
    color: #FF5252; }
    button.alt:hover {
      background: rgba(255, 82, 82, 0.1); }
    button.alt:active {
      background: rgba(255, 82, 82, 0.2); }
    button.alt:focus {
      outline: 1px dotted #FF5252; }
  button.alt2 {
    color: #512DA8; }
    button.alt2:hover {
      background: rgba(81, 45, 168, 0.1); }
    button.alt2:active {
      background: rgba(81, 45, 168, 0.2); }
    button.alt2:focus {
      outline: 1px dotted #512DA8; }
  button.raised {
    background: #2196F3;
    color: #FFF; }
    button.raised.alt {
      background: #FF5252; }
      button.raised.alt:hover {
        background: #ff1f1f; }
    button.raised.alt2 {
      background: #512DA8; }
      button.raised.alt2:hover {
        background: #3e2280; }
    button.raised:hover {
      background: #1976D2; }
  button .material-icons {
    padding: 0.25rem 0; }

.material-icons {
  display: block !important; }

label {
  font-family: "Open Sans Condensed"; }

b, strong {
  font-weight: 700; }

i, em {
  font-style: italic; }

a {
  color: inherit;
  text-decoration: none; }

.page-content a {
  color: #FF5252; }
  .page-content a:hover {
    text-decoration: underline; }

img {
  display: block;
  height: auto !important;
  max-width: 100%;
  width: auto; }

body {
  background: #f3f3f3;
  color: #212121;
  font-family: "Open Sans";
  font-size: 1rem;
  line-height: 1.5rem; }

.header-bar {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  height: 3rem;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15; }
  .header-bar.unfixed {
    position: relative; }

.nav-bar {
  background: #fff;
  bottom: 0;
  position: fixed;
  top: 3rem;
  z-index: 100; }

.center-area {
  margin-top: 3rem;
  position: relative; }

.center-header {
  background: #1976D2;
  color: #FFF;
  font-family: "Open Sans Condensed";
  font-size: 1.25rem;
  height: 3rem;
  padding: 0.75rem 2rem;
  position: fixed;
  top: 3rem;
  width: 100%;
  z-index: 20; }

.center-content {
  float: left;
  margin: 5rem 0 2rem 0;
  padding: 0 4rem; }

.content-header {
  margin-bottom: 0.5rem;
  padding: 0 0 0 0; }

.content-options {
  margin-bottom: -1.5rem;
  padding: 0.5rem 0; }

.content-primary {
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07);
  margin: 3rem 0 4rem 0; }

.center-side {
  float: left;
  margin: 2rem 0;
  padding: 4rem 0 1rem 0; }

.app-box {
  float: left; }

.app-name {
  color: #212121;
  float: left;
  font-family: "Open Sans Condensed";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase; }
  .app-name img {
    height: 2rem !important;
    padding: 0.5rem 0; }

.app-descr {
  border-left: 2px solid #eaeaea;
  color: #ccc;
  display: none;
  float: left;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 0.75rem;
  padding-left: 0.75rem; }

.user-box {
  float: right;
  line-height: 2rem;
  height: 2rem;
  padding: 0.5rem 0; }
  .user-box:before, .user-box:after {
    content: "";
    display: table; }
  .user-box:after {
    clear: both; }
  .user-box input {
    height: 1.5rem;
    float: left;
    font-size: 0.8rem;
    line-height: 1.25rem;
    margin: 0.25rem 0;
    width: 10rem; }
  .user-box button {
    height: 1.5rem;
    line-height: 1.5rem;
    float: left;
    font-size: 0.85rem;
    margin: 0.25rem 0;
    padding: 0 0.75rem; }

.user-name-box {
  padding-right: 0.25rem; }
  .user-name-box a {
    display: block;
    float: right;
    overflow: hidden; }
    .user-name-box a:hover .material-icons {
      color: #FF5252; }
  .user-name-box .material-icons {
    float: right;
    margin-left: 0.5rem;
    font-size: 2rem;
    line-height: 2rem; }

.user-form-box {
  padding-right: 0.5rem; }

.not-logged-in .user-name-box, .logged-in .user-form-box, .logged-in .register-wrapper {
  display: none; }

.user-type {
  color: #AAA;
  font-family: "Open Sans";
  font-size: 0.9rem;
  margin-left: 0.5rem; }

.user-name {
  float: left;
  font-family: "Open Sans Condensed"; }

.nav-bar-top-spacer {
  background: #2196F3;
  height: 3rem;
  width: 100%; }

.nav-option-group {
  padding-top: 1rem; }

.nav-special-select .nav-option-group {
  display: none; }

.dat-1 .nav-special-select .user-nav-group, .dat-2 .nav-special-select .editor-nav-group,
.dat-3 .nav-special-select .admin-nav-group, .dat-4 .nav-special-select .owner-nav-group {
  display: block; }

.nav-option-group-name {
  font-family: "Open Sans Condensed";
  font-size: 1.1rem;
  margin: 0.25rem 0;
  padding: 0.25rem 1rem; }
  .nav-option-group-name.active {
    border-left: 0.25rem solid #2196F3;
    color: #2196F3;
    padding-left: 0.75rem; }
  a .nav-option-group-name:hover {
    color: #FF5252; }

.option-group-item {
  color: #777;
  font-family: "Open Sans Condensed";
  margin: 0.25rem 0;
  padding: 0.125rem 1rem 0.125rem 2rem; }
  .option-group-item.active {
    border-left: 0.25rem solid #2196F3;
    padding-left: 1.75rem;
    color: #2196F3; }
  .option-group-item:hover {
    color: #FF5252; }

.content-header:before, .content-header:after {
  content: "";
  display: table; }

.content-header:after {
  clear: both; }

.content-header-right {
  float: left;
  width: 16.6666666667%; }
  .content-header-right .icon {
    background: #FF5252;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FFF;
    font-size: 5rem;
    height: 7.5rem;
    line-height: 7.5rem;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 7.5rem; }

.content-header-left {
  float: left;
  width: 83.3333333333%;
  padding-right: 2rem; }

.content-header-title.smaller {
  font-size: 2.25rem; }

.state-editable .uneditable-ui {
  display: none; }

.state-uneditable .editable-ui {
  display: none; }

.content-options:before, .content-options:after {
  content: "";
  display: table; }

.content-options:after {
  clear: both; }

.content-options button {
  color: #2196F3;
  float: left;
  margin-right: 1rem; }
  .content-options button.raised {
    color: #FFF; }

.content-list {
  counter-reset: track_count; }

.content-list-item {
  border-bottom: 1px solid #EAEAEA;
  padding: 1rem 1rem 1rem 1.5rem;
  position: relative; }
  .content-list-item:before, .content-list-item:after {
    content: "";
    display: table; }
  .content-list-item:after {
    clear: both; }
  .content-list-item:last-child {
    border-bottom: none; }
  .content-list-item.closest-match-item {
    background: #512DA8;
    border-bottom-color: #673dcb;
    color: #FFF; }
    .content-list-item.closest-match-item:first-child {
      background: #673dcb; }
    .content-list-item.closest-match-item .content-list-item-data-item {
      color: rgba(255, 255, 255, 0.65) !important; }

.content-list-item-content {
  counter-increment: track_count;
  padding-left: 4.5rem;
  padding-right: 3rem; }
  .progress-item .content-list-item-content {
    counter-increment: none;
    padding-left: 0; }
  .content-list-item-content:before {
    background: #512DA8;
    border-radius: 50%;
    color: #FFF;
    display: block;
    float: left;
    font-family: "Material Icons";
    font-size: 2.5rem;
    height: 4rem;
    left: 1rem;
    line-height: 4rem;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 4rem; }
  .editor-item .content-list-item-content:before, .user-item.dt-2 .content-list-item-content:before {
    content: ""; }
  .user-item.dt-1 .content-list-item-content:before {
    content: ""; }
  .admin-item .content-list-item-content:before, .user-item.dt-3 .content-list-item-content:before {
    content: ""; }
  .user-item.dt-4 .content-list-item-content:before {
    content: ""; }
  .track-item .content-list-item-content:before {
    content: ""; }
  .request-item .content-list-item-content:before {
    content: ""; }

.content-list-item-options {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem; }
  .content-list-item-options button {
    float: right; }
    .content-list-item-options button.dim {
      opacity: 0.4; }
      .content-list-item-options button.dim:hover {
        opacity: 1; }

.content-list-item-name {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 0.25rem 0; }

.content-list-item-data:before, .content-list-item-data:after {
  content: "";
  display: table; }

.content-list-item-data:after {
  clear: both; }

.content-list-item-data-item {
  float: left;
  font-family: "Open Sans Condensed";
  margin-right: 1rem; }

.content-list-search-item {
  background: #2196F3;
  border-bottom: none;
  color: #FFF;
  padding-right: 3rem; }
  .content-list-search-item label {
    color: #FFF;
    display: block;
    margin-bottom: 0.75rem; }

.add-item-search {
  border-bottom-color: #1976D2;
  color: #FFF;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  width: 100%; }
  .add-item-search:focus {
    border-bottom-color: #BBDEFB; }

.add-item-button {
  background: none;
  border-radius: 50%;
  float: right;
  height: 4rem;
  margin-top: 0.5rem;
  text-align: center;
  width: 4rem; }
  .add-item-button:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .add-item-button .material-icons {
    color: #FFF;
    display: block;
    font-size: 3rem; }

.content-form {
  padding: 2rem 0; }

.form-line {
  padding: 0.5rem 2rem; }
  .form-line:before, .form-line:after {
    content: "";
    display: table; }
  .form-line:after {
    clear: both; }
  .form-line label {
    float: left;
    width: 25%;
    box-sizing: border-box;
    line-height: 1.5rem;
    padding: 0.25rem 2rem 0.25rem 0;
    text-align: right; }
  .form-line input, .form-line select, .form-line textarea {
    float: left;
    width: 75%; }
  .form-line .left-spacer {
    float: left;
    width: 25%;
    height: 1rem; }
  .form-line button {
    float: left;
    width: 25%;
    float: right; }

.spacer-line {
  display: block;
  height: 1rem; }

fieldset[disabled] input, fieldset[disabled] textarea, fieldset[disabled] select {
  border-bottom-color: transparent;
  color: #212121; }

fieldset[disabled] input[type="file"] {
  border-color: transparent;
  color: rgba(255, 255, 255, 0.6); }

fieldset[disabled] label {
  border-right: 0.125rem solid #EAEAEA; }

fieldset[disabled] .account-type-input {
  color: #212121; }

.wide-labels .form-line label {
  float: left;
  width: 33.3333333333%; }

.wide-labels .form-line input, .wide-labels .form-line select, .wide-labels .form-line textarea {
  float: left;
  width: 66.6666666667%; }

.wide-labels .form-line .left-spacer {
  float: left;
  width: 33.3333333333%; }

.emph-line {
  background: #512DA8;
  color: #FFF;
  margin-bottom: -1rem;
  padding: 2rem;
  position: relative;
  top: -2rem; }
  .emph-line label {
    color: #FFF; }

.account-type-input {
  color: #212121;
  font-family: "Open Sans Condensed"; }

.autocomplete-wrapper {
  position: relative; }

.autocomplete {
  background: #512DA8;
  bottom: 2.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  left: 4.5rem;
  position: absolute;
  right: 3rem; }
  .autocomplete .state-invisible {
    display: none; }
  .autocomplete li {
    border-bottom: 1px solid #673dcb;
    color: rgba(255, 255, 255, 0.65);
    font-family: "Open Sans Condensed";
    padding: 0.5rem 1rem; }
    .autocomplete li em {
      color: #FFF;
      font-style: normal; }
    .autocomplete li:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer; }
    .autocomplete li:focus {
      background: #FF5252;
      border-bottom: 1px solid #ff8585;
      outline: none; }
    .autocomplete li:active {
      background: rgba(255, 255, 255, 0.4);
      border-bottom: 1px solid #673dcb; }
    .autocomplete li:last-child {
      border-bottom: none; }
    .autocomplete li .track-name:after {
      content: ", "; }

.content-boxes {
  padding: 1rem 0; }

.content-box {
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07);
  margin: 2rem 0;
  min-height: 8rem;
  padding: 1.5rem 1.5rem 1.5rem 8rem;
  position: relative; }
  .content-box:before, .content-box:after {
    content: "";
    display: table; }
  .content-box:after {
    clear: both; }

.content-box-icon {
  background: #512DA8;
  border-radius: 50%;
  height: 5rem;
  left: 1.5rem;
  position: absolute;
  text-align: center;
  top: 1.5rem;
  width: 5rem; }
  .content-box-icon .material-icons {
    color: #FFF;
    font-size: 3rem;
    line-height: 5rem; }

.content-box-info {
  float: left;
  width: 40%;
  padding-right: 2rem; }

.content-box-name {
  line-height: 2rem;
  padding: 0.5rem 0; }

.content-box-descr {
  color: #777;
  font-size: 0.9rem; }

.content-box-options {
  float: left;
  width: 60%;
  border-left: 1px solid #EAEAEA;
  min-height: 5rem;
  padding-left: 2rem; }
  .content-box-options li {
    padding: 0.5rem 0; }
  .content-box-options .option-name {
    color: #2196F3;
    font-family: "Open Sans Condensed";
    font-size: 1.1rem;
    line-height: 2rem; }
    .content-box-options .option-name:hover {
      color: #FF5252;
      cursor: pointer; }
  .content-box-options .option-descr {
    color: #777;
    font-size: 0.9rem;
    line-height: 1.25rem; }

.account-type-select {
  display: none; }

.dat-1 .user-select, .dat-2 .editor-select,
.dat-3 .admin-select, .dat-4 .owner-select {
  display: block; }

.user-account-type, .track-artist, .track-duration {
  color: #2196F3; }

.user-occupation, .user-age, .track-album, .track-year, .track-artist-dim, .request-date-interval, .request-collisions-negative {
  color: #AAA; }

.user-mail, .track-genre, .request-editor {
  color: #777; }

.request-collisions-positive {
  color: #FF5252; }

.progress-item {
  background: #512DA8;
  border-color: #673dcb; }
  .progress-item.warning {
    background: #FF5252; }
    .progress-item.warning .progress-bar {
      background: #ff8585; }
  .progress-item .content-list-item-content {
    width: 100%; }
  .progress-item label {
    float: left;
    width: 25%;
    color: #FFF;
    display: block; }
  .progress-item .progress-bar {
    float: left;
    width: 75%;
    background: #3e2280;
    height: 1.5rem;
    position: relative;
    text-align: center; }
  .progress-item .progress-value {
    font-family: "Open Sans Condensed";
    position: absolute;
    width: 100%;
    z-index: 3; }
  .progress-item .progress-indicator {
    background: #f5f2fc;
    height: 1.5rem;
    position: absolute;
    top: 0;
    z-index: 2; }

.center-side-header {
  padding-top: 0.5rem;
  padding-bottom: 2rem; }

.center-side-content {
  padding-bottom: 4rem; }

.global-wishlist-item {
  padding: 0.25rem 1rem 0.25rem 1rem; }
  .global-wishlist-item:before, .global-wishlist-item:after {
    content: "";
    display: table; }
  .global-wishlist-item:after {
    clear: both; }
  .global-wishlist-item:nth-child(odd) {
    background: #fff; }

.gw-track {
  float: left;
  width: 83.3333333333%; }

.gw-track-name {
  font-weight: 300;
  height: 1.5rem;
  overflow: hidden; }

.gw-track-artist {
  color: #AAA;
  font-family: "Open Sans Condensed";
  font-size: 0.9rem;
  height: 1.5rem;
  overflow: hidden; }

.gw-option {
  float: left;
  width: 16.6666666667%;
  height: 3rem;
  padding: 0.5rem 0; }
  .gw-option button {
    border-radius: 50%;
    float: right;
    width: 2rem; }
  .gw-option .material-icons {
    color: #2196F3;
    font-size: 1.5rem;
    line-height: 1.5rem; }

.calendar-wrapper {
  padding: 1rem 1.5rem; }

.large-calendar table {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  width: 100%; }

.large-calendar th, .large-calendar td {
  width: 12.5%; }

.large-calendar th.rh {
  background: #3e2280;
  border-color: #512DA8; }

.large-calendar td.rh {
  background: #512DA8;
  border-color: #512DA8;
  border-right-color: #EAEAEA;
  color: #FFF;
  font-family: "Open Sans Condensed";
  text-align: center; }

.large-calendar th {
  border: 1px solid #512DA8;
  border-bottom: 1px solid #EAEAEA;
  font-family: "Open Sans Condensed";
  line-height: 2rem;
  text-align: center; }

.large-calendar td {
  border: 1px solid #EAEAEA;
  padding: 0 0.5rem; }

.large-calendar tr:nth-child(even) {
  background: #fff; }

.large-calendar tr.head-row {
  background: #512DA8;
  color: #FFF; }

.large-calendar caption {
  caption-side: bottom;
  margin: 1rem 0;
  text-align: left; }
  .large-calendar caption:before, .large-calendar caption:after {
    content: "";
    display: table; }
  .large-calendar caption:after {
    clear: both; }

.large-calendar .caption-item {
  float: left;
  font-size: 0.8rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  position: relative; }

.large-calendar .caption-color {
  height: 1.5rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.5rem; }
  .large-calendar .caption-color.c4, .large-calendar .caption-color.c5 {
    border: 1px solid #d1d1d1; }

.large-calendar .c1 {
  background: #2196F3; }
  .large-calendar .c1:hover {
    background: #2196F3 url("/src/static/img/icons/edit.png") no-repeat center center;
    cursor: pointer; }

.large-calendar .c2 {
  background: #512DA8; }
  .large-calendar .c2:hover {
    background: #512DA8 url("/src/static/img/icons/edit.png") no-repeat center center;
    cursor: pointer; }

.large-calendar .c3 {
  background: #FF5252; }

.large-calendar .c4 {
  background: #fff; }
  .large-calendar .c4:hover {
    background: #FF5252 url("/src/static/img/icons/add.png") no-repeat center center;
    cursor: pointer; }

.large-calendar .c5 {
  background: #f3f3f3; }

.calendar-nav {
  color: #AAA;
  float: right; }
  .calendar-nav a {
    font-size: 2.5rem;
    line-height: 0;
    position: relative;
    top: 0.25rem; }
    .calendar-nav a:hover {
      color: #FF5252;
      cursor: pointer; }

.state-view .calendar-option, .state-change .calendar-actions {
  display: none; }

.calendar-actions {
  border-top: 1px solid #EAEAEA;
  margin: 0 1.5rem;
  overflow: hidden;
  padding: 0.5rem 0 1.5rem 0; }
  .calendar-actions button {
    color: #777;
    float: right; }
    .calendar-actions button:hover {
      color: #212121; }

.calendar-option {
  background: #2196F3;
  color: #FFF;
  padding: 1.5rem; }
  .calendar-option h3 {
    font-size: 1.2rem;
    line-height: 2rem; }
  .calendar-option label {
    color: rgba(255, 255, 255, 0.6); }
  .calendar-option input, .calendar-option select {
    border-bottom-color: rgba(255, 255, 255, 0.2);
    color: #FFF; }
    .calendar-option input:focus, .calendar-option select:focus {
      border-bottom-color: #fff; }
  .calendar-option ::placeholder {
    color: #FFF;
    opacity: 0.75; }
  .calendar-option option {
    background: #fff;
    color: #212121; }

.day-checks {
  float: left;
  width: 75%; }
  .day-checks input {
    box-sizing: border-box;
    margin: 0;
    width: 2rem; }

.check-labels {
  clear: both; }
  .check-labels:before, .check-labels:after {
    content: "";
    display: table; }
  .check-labels:after {
    clear: both; }
  .check-labels li {
    float: left;
    font-family: "Open Sans Condensed";
    padding-right: 2px;
    text-align: center;
    width: 2rem; }

.calendar-daily {
  border-bottom: 1px solid #dddddd; }
  .calendar-daily .caption {
    background: #512DA8;
    color: #FFF;
    font-family: "Open Sans Condensed";
    padding: 0.5rem 1rem;
    text-align: center; }
    .calendar-daily .caption a {
      cursor: pointer;
      font-size: 1.5rem; }
      .calendar-daily .caption a:hover {
        color: #FF5252; }
  .calendar-daily .rows {
    max-height: 22.5rem;
    overflow-y: auto; }
  .calendar-daily .row {
    font-family: "Open Sans Condensed";
    font-size: 0.9rem;
    overflow: hidden;
    position: relative; }
    .calendar-daily .row .time {
      background: #673dcb;
      color: #FFF;
      float: left;
      font-family: "Open Sans Condensed";
      margin-right: 1rem;
      text-align: center;
      width: 25%;
      z-index: 5; }
    .calendar-daily .row .slot {
      background: #fff;
      border-right: 1px solid #dddddd;
      border-top: 1px solid #EAEAEA;
      cursor: default;
      display: block;
      font-size: 0.8rem;
      height: 1.5rem;
      padding: 0 1rem; }
      .calendar-daily .row .slot.c1 {
        background: #f3f3f3; }
      .calendar-daily .row .slot.c3 {
        background: #FF5252;
        border-right: 1px solid #ff8585;
        border-top: 1px solid #ff8585;
        color: #FFF;
        cursor: pointer; }
        .calendar-daily .row .slot.c3:hover {
          background: #ff6c6c; }
          .calendar-daily .row .slot.c3:hover:after {
            content: "";
            font-family: "Material Icons";
            font-size: 1.25rem;
            position: absolute;
            right: 0.25rem;
            top: 0; }

.stat {
  padding: 1rem 0; }

.single-stat {
  border-top: 1px solid #EAEAEA;
  padding: 1rem 0; }
  .single-stat:before, .single-stat:after {
    content: "";
    display: table; }
  .single-stat:after {
    clear: both; }

.single-stat-number {
  background: #512DA8;
  border-radius: 50%;
  color: #FFF;
  float: left;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-right: 1rem;
  text-align: center;
  width: 3rem; }

.single-stat-descr {
  color: #777;
  font-family: "Open Sans Condensed";
  font-size: 1.25rem;
  line-height: 3rem; }

.stat-track-wrapper {
  border-top: 1px solid #EAEAEA;
  margin-left: -1rem;
  padding-top: 1rem; }

.state-view .stat-item-option, .state-change .stat-display {
  display: none; }

.stat-item-display {
  background: #512DA8;
  color: #FFF;
  margin-bottom: -1px;
  padding: 0.5rem 1rem 1rem 1rem;
  position: relative; }

.stat-track-name, .stat-editor-name {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 0.25rem 0; }

.stat-track-info:before, .stat-track-info:after, .stat-editor-info:before, .stat-editor-info:after {
  content: "";
  display: table; }

.stat-track-info:after, .stat-editor-info:after {
  clear: both; }

.stat-track-info-item {
  color: rgba(255, 255, 255, 0.4);
  float: left;
  font-family: "Open Sans Condensed";
  margin-right: 2rem; }

.stat-track-artist, .stat-editor-mail {
  color: #FFF; }

.stat-item-option {
  background: #512DA8;
  color: #FFF;
  padding: 1rem 5rem 1rem 1rem;
  position: relative; }
  .stat-item-option label {
    color: #FFF; }

.choose-search {
  border-bottom-color: rgba(255, 255, 255, 0.25);
  color: #FFF;
  width: 100%; }
  .choose-search:focus {
    border-bottom-color: #FFF; }

.stat-option-button {
  position: absolute;
  right: 1rem;
  top: 1.25rem; }
  .stat-option-button button {
    background: none;
    border-radius: 50%;
    height: 3rem;
    width: 3rem; }
    .stat-option-button button .material-icons {
      font-size: 2rem; }
    .stat-option-button button:hover {
      background: #3e2280; }

.stat-buttons {
  border-top: 1px solid #EAEAEA;
  margin: 0 0 0 -1rem;
  padding: 1rem 0 0 0; }
  .stat-buttons button:hover {
    background: rgba(81, 45, 168, 0.15); }
  .stat-buttons button:active {
    background: rgba(81, 45, 168, 0.3); }
  .stat-buttons button:focus {
    outline: 1px dotted #512DA8; }

.stat-list {
  border-top: 1px solid #EAEAEA;
  margin-left: -1rem;
  padding: 1rem 0; }
  .stat-list.no-border {
    border: none; }
  .stat-list li {
    color: #777;
    font-family: "Open Sans Condensed";
    font-size: 1.25rem;
    line-height: 3rem;
    padding: 0.5rem 0 0.5rem 1rem;
    position: relative; }
    .stat-list li:before {
      background: #512DA8;
      border-radius: 50%;
      color: #FFF;
      display: block;
      float: left;
      font-family: "Material Icons";
      margin-right: 1rem;
      text-align: center;
      width: 3rem; }
    .stat-list li:nth-child(even) {
      background: #f3f3f3; }

.track-stat-list {
  counter-reset: wish_count; }
  .track-stat-list li {
    counter-increment: wish_count;
    padding-right: 3.5rem; }
    .track-stat-list li:before {
      content: "#" counter(wish_count);
      font-family: "Open Sans";
      font-size: 1.5rem;
      font-weight: 300; }

.track-stat-list-track-name:after {
  content: ', '; }

.track-stat-list-track-artist {
  font-family: "Open Sans";
  font-size: 1rem;
  line-height: 0; }

.track-stat-list-wish-count {
  position: absolute;
  right: 1.25rem;
  top: 0.5rem; }

.active-admins-stat-list li:before {
  content: ""; }

.stat-form {
  border-top: 1px solid #EAEAEA;
  padding-top: 1rem; }

.console-wrapper {
  position: fixed;
  right: 0.25rem;
  top: 3.25rem;
  width: 25%;
  z-index: 100; }

.console-item {
  background: #444;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  color: #FFF;
  font-size: 0.8rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  min-height: 4.75rem;
  padding: 1rem 1.5rem 1rem 5rem;
  position: relative; }
  .console-item:before {
    content: "";
    display: block;
    font-family: "Material Icons";
    font-size: 3rem;
    left: 1rem;
    line-height: 3rem;
    position: absolute;
    top: 0.8125rem; }
  .console-item.success-item:before {
    content: ""; }
  .console-item.error-item:before {
    content: ""; }

.section-wrapper {
  min-height: 30rem;
  padding: 5rem 0; }

.section-container {
  margin: 0 auto; }
  .section-container:before, .section-container:after {
    content: "";
    display: table; }
  .section-container:after {
    clear: both; }

.player-wrapper {
  background: #3e2280;
  color: #FFF;
  padding-top: 9rem; }

.info-wrapper {
  background: #1976D2;
  color: #FFF; }

.footer-wrapper {
  background: #211243;
  color: #FFF;
  min-height: 10rem;
  padding: 0;
  padding-bottom: 2rem; }

.player-box {
  float: left;
  width: 66.6666666667%;
  background: #5b32bc;
  min-height: 21.5rem;
  margin-top: -1rem;
  padding: 1rem 2rem 0 2rem; }

.player-body {
  background: #472894;
  margin-top: 1rem; }

.current-editor {
  background: #3e2280;
  clear: left;
  font-family: "Open Sans Condensed";
  margin-bottom: 2rem;
  padding: 0.5rem 1rem; }
  .current-editor span {
    opacity: 0.65; }

.player-track {
  height: 10.5rem;
  position: relative; }
  .player-track:before, .player-track:after {
    content: "";
    display: table; }
  .player-track:after {
    clear: both; }

.player-track-title {
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: -1px;
  max-height: 6rem;
  overflow: hidden;
  text-align: center; }

.player-track-info {
  background: #512DA8;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%; }
  .player-track-info:before, .player-track-info:after {
    content: "";
    display: table; }
  .player-track-info:after {
    clear: both; }

.player-track-info-item {
  float: left;
  width: 25%;
  color: rgba(255, 255, 255, 0.75);
  height: 2.5rem;
  line-height: 2.5rem;
  overflow: hidden;
  padding: 0 0.5rem;
  text-align: center; }
  .player-track-info-item:nth-child(odd) {
    background: #3e2280; }

.player-track-artist, .player-track-genre {
  font-family: "Open Sans Condensed"; }

.player-progress-bar {
  background: #341d6c;
  height: 1rem;
  width: 100%; }

.player-progress {
  background: #FFF;
  height: 1rem; }

.control-buttons {
  margin: 0 auto 0 auto;
  overflow: hidden;
  width: 16rem; }
  .control-buttons button {
    float: left; }

.volume-button {
  background: #FFF;
  border-radius: 50%;
  height: 2.5rem;
  margin: 2rem 1rem;
  text-align: center;
  width: 2.5rem; }
  .volume-button .material-icons {
    color: #512DA8;
    font-size: 1.5rem;
    line-height: 2rem; }
  .volume-button:hover {
    background: #3e2280; }

.play-button {
  border-radius: 50%;
  height: auto; }
  .play-button:hover {
    background: none; }
  .play-button:hover .material-icons {
    color: #3e2280; }
  .play-button .material-icons {
    color: #FFF;
    font-size: 6rem; }

.schedule-box {
  float: left;
  width: 33.3333333333%;
  padding: 0 0 0 2rem; }
  .schedule-box h2 {
    margin-bottom: 1rem; }

.schedule-item {
  padding: 0.5rem 1rem; }
  .schedule-item:before, .schedule-item:after {
    content: "";
    display: table; }
  .schedule-item:after {
    clear: both; }
  .schedule-item:nth-child(odd) {
    background: #4c2a9e; }
  .schedule-item:first-child {
    background: #FF5252; }

.item-time {
  float: left;
  width: 25%; }

.item-editor {
  float: left;
  width: 75%;
  font-family: "Open Sans Condensed"; }

.popular-info {
  float: left;
  width: 33.3333333333%; }

.popular-tracks-list {
  counter-reset: item_count;
  padding-top: 1rem; }
  .popular-tracks-list li {
    counter-increment: item_count;
    height: 4rem;
    padding: 0.5rem 2rem 0.5rem 4rem;
    position: relative; }
    .popular-tracks-list li:before {
      color: #BBDEFB;
      content: counter(item_count);
      font-size: 2rem;
      font-weight: 300;
      left: 0;
      line-height: 2rem;
      padding: 1rem 1.5rem;
      position: absolute;
      top: 0;
      z-index: 3; }
    .popular-tracks-list li:after {
      background: #145ca4;
      content: " ";
      display: block;
      height: 4rem;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 2; }
    .popular-tracks-list li:nth-child(even):after {
      background: #378fe7; }
    .popular-tracks-list li * {
      position: relative;
      z-index: 3; }
    .popular-tracks-list li[data-value^='1']:after {
      width: 5%; }
    .popular-tracks-list li[data-value^='2']:after {
      width: 10%; }
    .popular-tracks-list li[data-value^='3']:after {
      width: 15%; }
    .popular-tracks-list li[data-value^='4']:after {
      width: 20%; }
    .popular-tracks-list li[data-value^='5']:after {
      width: 25%; }
    .popular-tracks-list li[data-value^='6']:after {
      width: 30%; }
    .popular-tracks-list li[data-value^='7']:after {
      width: 35%; }
    .popular-tracks-list li[data-value^='8']:after {
      width: 40%; }
    .popular-tracks-list li[data-value^='9']:after {
      width: 45%; }
    .popular-tracks-list li[data-value^='10']:after {
      width: 50%; }
    .popular-tracks-list li[data-value^='11']:after {
      width: 55%; }
    .popular-tracks-list li[data-value^='12']:after {
      width: 60%; }
    .popular-tracks-list li[data-value^='13']:after {
      width: 65%; }
    .popular-tracks-list li[data-value^='14']:after {
      width: 70%; }
    .popular-tracks-list li[data-value^='15']:after {
      width: 75%; }
    .popular-tracks-list li[data-value^='16']:after {
      width: 80%; }
    .popular-tracks-list li[data-value^='17']:after {
      width: 85%; }
    .popular-tracks-list li[data-value^='18']:after {
      width: 90%; }
    .popular-tracks-list li[data-value^='19']:after {
      width: 95%; }
    .popular-tracks-list li[data-value^='20']:after {
      width: 100%; }

.popular-track-name {
  font-size: 1.1rem;
  font-weight: 300;
  height: 1.5rem;
  overflow: hidden; }

.popular-track-info {
  font-family: "Open Sans Condensed";
  font-size: 0.9rem; }

.radio-info {
  float: left;
  width: 66.6666666667%;
  padding-left: 3rem; }
  .radio-info h2 {
    margin-bottom: 1rem; }
  .radio-info p {
    text-align: justify; }

.radio-image {
  height: 17rem;
  padding-top: 2rem;
  text-align: center; }
  .radio-image .material-icons {
    color: #2b89e6;
    display: block;
    font-size: 15rem;
    line-height: 15rem;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.05); }

.register-descr-box {
  float: left;
  width: 66.6666666667%;
  padding-right: 3rem; }
  .register-descr-box p {
    color: #777;
    margin-bottom: 1rem; }
    .register-descr-box p b {
      color: #212121; }

p.roles-info {
  color: #AAA;
  font-family: "Open Sans Condensed";
  font-size: 1.2rem;
  padding-top: 1rem; }

.roles-list {
  margin-left: -1rem; }
  .roles-list:before, .roles-list:after {
    content: "";
    display: table; }
  .roles-list:after {
    clear: both; }

.role {
  float: left;
  width: 33.3333333333%;
  margin: 1rem 0 2rem;
  padding: 0 1rem; }

.role-container {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem 1.5rem 1rem; }

.role-icon {
  background: #512DA8;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  height: 8rem;
  margin: 0 auto;
  padding: 2rem;
  width: 8rem; }
  .role-icon .material-icons {
    color: #FFF;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }

.role-name {
  font-family: "Open Sans Condensed";
  font-size: 1.2rem;
  padding: 1rem 0;
  text-align: center; }

.role-descr {
  color: #777;
  font-size: 0.85rem;
  text-align: center; }

p.register-bait {
  color: #212121;
  font-family: "Open Sans Condensed";
  font-size: 1.1rem;
  margin-top: 1.9rem;
  text-align: center; }

.register-form-box {
  float: left;
  width: 33.3333333333%; }
  .register-form-box h2 {
    padding-bottom: 1rem; }

.register-form input {
  width: 100%; }

.register-form .form-line {
  padding: 0.5rem 0; }

.register-form .tos-label {
  color: #AAA;
  float: none;
  font-size: 0.9rem;
  width: auto; }
  .register-form .tos-label b {
    color: #777;
    text-transform: uppercase; }

.register-form button {
  float: left;
  margin: 0 auto;
  width: 10rem; }

.footer-container {
  padding: 2rem 0; }

.footer-left {
  float: left;
  width: 50%;
  padding: 3rem 0; }

.footer-right {
  float: left;
  width: 50%;
  background: url("/src/static/img/logo_icon.png") no-repeat right 12px;
  height: 250px;
  opacity: 0.5; }

.radiostation-info-item {
  float: left;
  width: 50%;
  padding: 0.25rem 0; }

.rs-item-name {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Open Sans Condensed"; }

.rs-item-value {
  color: #ddd; }

.footer-copy {
  clear: both;
  color: rgba(255, 255, 255, 0.25);
  font-size: 0.9rem;
  padding: 3rem 0 1rem 0;
  width: 100%; }

.message-wrapper {
  margin-top: 3rem;
  position: fixed;
  height: 100%;
  width: 100%; }
  .message-wrapper.dt-success {
    background: #1976D2;
    color: #FFF; }
    .message-wrapper.dt-success h1:after {
      content: ""; }
  .message-wrapper.dt-error {
    background: #FF5252;
    color: #FFF; }
    .message-wrapper.dt-error h1:after {
      content: ""; }
  .message-wrapper.dt-info {
    background: #512DA8;
    color: #FFF; }
    .message-wrapper.dt-info h1:after {
      content: ""; }

.message-container {
  width: 60rem; }

.message-header {
  padding-bottom: 2rem; }
  .message-header h1 {
    font-size: 2rem;
    line-height: 3rem; }
    .message-header h1:after {
      display: block;
      font-family: "Material Icons";
      font-size: 6rem;
      float: right;
      margin-right: 1rem; }

.message-content p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1rem;
  line-height: 1.75rem;
  width: 50rem; }

.debug {
  justify-content: center;
  height: 2rem;
  left: 50%;
  margin-left: -10rem;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  width: 20rem; }

.loading-wrapper {
  background: #f3f3f3; }

.loading-screen {
  left: 25%;
  position: fixed;
  text-align: center;
  top: 20%;
  width: 50%; }

.logo-large {
  font-family: "Open Sans Condensed";
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 auto; }

.loader {
  height: 10rem;
  margin: 2.5rem auto;
  position: relative;
  width: 10rem; }

.circular {
  animation: rotate 2s linear infinite;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transform-origin: center center;
  top: 0;
  width: 100%; }

.path {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }

@keyframes color {
  100%, 0% {
    stroke: #2196F3; }
  25% {
    stroke: #512DA8; }
  45% {
    stroke: #FF5252; }
  75% {
    stroke: #1976D2; } }

@media screen and (max-width: 559px) {
  html {
    font-size: 11px !important; }
  .form-line label {
    text-align: left !important;
    width: 100% !important; }
  .form-line input, .form-line select {
    width: 100% !important; }
  .nav-bar-top-spacer:after {
    width: 33px !important; }
  .section-container {
    width: 55rem; } }

@media screen and (min-width: 560px) and (max-width: 959px) {
  html {
    font-size: 13px; }
  .nav-bar {
    background: none;
    width: 3rem;
    z-index: 100; }
    .nav-bar *:not(.nav-bar-top-spacer) {
      display: none; }
    .nav-bar:hover {
      background: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      width: 14rem; }
      .nav-bar:hover * {
        display: block; }
    .nav-bar .nav-bar-top-spacer {
      cursor: pointer;
      text-align: center; }
      .nav-bar .nav-bar-top-spacer:after {
        content: "";
        color: #fff;
        display: block;
        font-family: "Material Icons";
        font-size: 2rem;
        line-height: 3rem;
        width: 39px; }
  .center-area {
    margin-left: 3rem; }
  .center-content {
    padding: 0 3rem 0 0;
    width: 100%; }
  .center-side {
    margin-top: -2rem;
    padding: 0 2rem;
    width: 100%; }
  .section-container {
    width: 60rem !important; } }

@media screen and (min-width: 960px) and (max-width: 1279px) {
  html {
    font-size: 14px; }
  .nav-bar {
    width: 14rem; }
  .center-area {
    margin-left: 14rem; }
  .center-content {
    padding: 0 2rem;
    width: 70%; }
  .center-side {
    padding-right: 1rem;
    width: 30%; }
  .section-container {
    width: 70rem; } }

@media screen and (min-width: 1280px) and (max-width: 1499px) {
  html {
    font-size: 16px; }
  .nav-bar {
    width: 15rem; }
  .center-area {
    margin-left: 15rem; }
  .center-content {
    width: 70%; }
  .center-side {
    padding-right: 2rem;
    width: 30%; }
  .section-container {
    width: 75rem; } }

@media screen and (min-width: 1500px) and (max-width: 1799px) {
  html {
    font-size: 16px; }
  .nav-bar {
    width: 16rem; }
  .center-area {
    margin-left: 16rem; }
  .center-content {
    padding: 0 5%;
    width: 70%; }
  .center-side {
    padding-right: 5%;
    width: 30%; }
  .section-container {
    width: 80rem; } }

@media screen and (min-width: 1800px) {
  html {
    font-size: 18px; }
  .nav-bar {
    width: 16rem; }
  .center-area {
    margin-left: 16rem; }
  .center-content {
    padding: 0 5%;
    width: 70%; }
  .center-side {
    padding-right: 5%;
    width: 30%; }
  .section-container {
    width: 85rem; } }

/*# sourceMappingURL=index.css.map */