
<div [ngClass]="{&quot;state-editable&quot; : editable, &quot;state-uneditable&quot; : !editable }" class="center-area">
  <header class="center-header">
    <div class="view-path">Upravljaj korisnicima</div>
  </header>
  <div class="center-content">
    <header class="content-header">
      <div class="content-header-left">
        <div class="content-header-title">Korisnici</div>
        <div class="content-header-subtitle">
          Pregledajte i uredite
          podatke korisnika ove radiopostaje. Na popisu se nalaze svi korisnici
          sustava, osim drugih administratora i vlasnika.
        </div>
      </div>
      <div class="content-header-right"><i class="material-icons icon">group</i></div>
    </header>
    <nav *ngIf="!editable" (click)="toggleEditable()" class="content-options uneditable-ui">
      <button>Uredi popis korisnika</button>
    </nav>
    <nav *ngIf="editable" (click)="toggleEditable()" class="content-options editable-ui">
      <button>Završi uređivanje popisa</button>
    </nav>
    <ul class="content-primary content-list">
      <li *ngFor="#user of users" [ngClass]="{ &quot;dt-1&quot; : user.account_type == 1, &quot;dt-2&quot; : user.account_type == 2 }" class="content-list-item user-item">
        <div class="content-list-item-content">
          <div class="content-list-item-name">{{user.first_name}} {{user.last_name}}</div>
          <div class="content-list-item-data">
            <div class="content-list-item-data-item user-mail">{{user.email}}</div>
            <div class="content-list-item-data-item user-age">{{user.age}} godina</div>
            <div class="content-list-item-data-item user-occupation">{{user.occupation}}</div>
          </div>
        </div>
        <div class="content-list-item-options editable-ui">
          <button class="dim"><i (click)="editUser(user.id)" class="material-icons">edit</i></button>
          <button class="alt"><i (click)="deleteUser(user.id)" class="material-icons">clear</i></button>
        </div>
      </li>
    </ul>
  </div>
</div>