
<div class="content-box">
  <div class="content-box-icon"><i class="material-icons">directions_run</i></div>
  <div class="content-box-content">
    <h2 class="content-box-name">Aktivnost korisnika</h2>
    <p class="content-box-descr">Pogledajte koliko je korisnika trenutno aktivno u sustavu.</p>
    <div class="stat user-activity-stat">
      <div class="single-stat">
        <div class="single-stat-number">{{ count }}</div>
        <div class="single-stat-descr">Broj trenutno aktivnih korisnika</div>
      </div>
    </div>
  </div>
</div>