.console-wrapper( '[ngClass]' = '{ hidden : !shown }' )
    .console-item( '[ngClass]' = '{ "success-item" : (messageType == "success"), "error-item" : (messageType == "error"), "info-item" : (messageType == "info" )}')
        | {{ messageText }}
