
<div class="center-area">
  <header class="center-header">
    <div class="view-path">Obriši račun</div>
  </header>
  <div class="center-content">
    <header class="content-header">
      <div class="content-header-left">
        <div class="content-header-title">Brisanje računa</div>
        <div class="content-header-subtitle">
          Zauvijek obrišite svoj
          korisnički račun i sve uz njega vezane podatke. <b>
            Oprez! Jednom
            kada to odlučite učiniti, više nema povratka.</b>
        </div>
      </div>
      <div class="content-header-right"><i class="material-icons icon">block</i></div>
    </header>
    <div class="content-primary content-form">
      <form>
        <div class="form-line">
          <label for="old_password">Lozinka (za potvrdu)</label>
          <input type="password" name="password" [(ngModel)]="password"/>
        </div>
        <div class="form-line">
          <div class="left-spacer"></div>
          <button (click)="submitDelete()" class="raised alt">Obriši račun</button>
        </div>
      </form>
    </div>
  </div>
</div>