
<div [ngClass]="{ &quot;dat-1&quot; : authService.isUser(), &quot;dat-2&quot; : authService.isEditor(), &quot;dat-3&quot; : authService.isAdmin(), &quot;dat-4&quot; : authService.isOwner() }" class="center-area">
  <header class="center-header">
    <div class="view-path">Pregledaj mogućnosti</div>
  </header>
  <div class="center-content">
    <header class="content-header">
      <div class="content-header-left">
        <div class="content-header-title">Mogućnosti</div>
        <div class="content-header-subtitle">
          Popis svih vama dostupnih mogućnosti kao korisnika radiopostaje.
          Uključuju slušanje radijskog programa, sudjelovanje u radu postaje te upravljanje vlastitim računom.
        </div>
      </div>
      <div class="content-header-right"><i class="material-icons icon">dashboard</i></div>
    </header>
    <div class="content-boxes">
      <div class="content-box">
        <div class="content-box-icon"><i class="material-icons">graphic_eq</i></div>
        <div class="content-box-info">
          <h2 class="content-box-name">Slušanje radija</h2>
          <p class="content-box-descr">Slušajte program radiopostaje</p>
        </div>
        <ul class="content-box-options">
          <li><a [routerLink]="[&quot;/Index&quot;]">
              <div class="option-name">Slušaj radio</div>
              <div class="option-descr">Uživo slušajte trenutno emitirani program najdraže vam radiopostaje</div></a></li>
        </ul>
      </div>
      <div class="content-box">
        <div class="account-type-select user-select">
          <div class="content-box-icon"><i class="material-icons">person</i></div>
          <div class="content-box-info">
            <h2 class="content-box-name">Korisničke mogućnosti</h2>
            <p class="content-box-descr">Sudjelujte u radu postaje</p>
          </div>
          <ul class="content-box-options">
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;MakeWishlist&quot;]">
                <div class="option-name">Lista želja</div>
                <div class="option-descr">Sastavite svoju listu želja kako bi savjetom pomogli urednicima u sastavljanju programa radiopostaje</div></a></li>
          </ul>
        </div>
        <div class="account-type-select editor-select">
          <div class="content-box-icon"><i class="material-icons">edit</i></div>
          <div class="content-box-info">
            <h2 class="content-box-name">Uredničke mogućnosti</h2>
            <p class="content-box-descr">Uređujte program radiopostaje</p>
          </div>
          <ul class="content-box-options">
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;EditorSlots&quot;]">
                <div class="option-name">Termini reprodukcije</div>
                <div class="option-descr">Sastavite program i upravljajte dodjeljenim vam terminima za reprodukciju</div></a></li>
          </ul>
        </div>
        <div class="account-type-select admin-select">
          <div class="content-box-icon"><i class="material-icons">build</i></div>
          <div class="content-box-info">
            <h2 class="content-box-name">Administratorske mogućnosti</h2>
            <p class="content-box-descr">Administrirajte rad radiopostaje</p>
          </div>
          <ul class="content-box-options">
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;ManageTracks&quot;]">
                <div class="option-name">Zvučni zapisi</div>
                <div class="option-descr">Uređujte zvučne zapise dostupne u sustavu</div></a></li>
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;ManageEditors&quot;]">
                <div class="option-name">Urednici</div>
                <div class="option-descr">Pregledajte i upravljajte glazbenim urednicima</div></a></li>
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;ManageRequests&quot;]">
                <div class="option-name">Zahtjevi za terminima</div>
                <div class="option-descr">dlučujte o uredničkim zahtjevima za terminima</div></a></li>
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;ManageUsers&quot;]">
                <div class="option-name">Korisnici</div>
                <div class="option-descr">Pregledajte i upravljajte korisnicima radiopostaje</div></a></li>
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;ShowStats&quot;]">
                <div class="option-name">Statistike</div>
                <div class="option-descr">Pregledajte razne statistike o radu radiopostaje</div></a></li>
          </ul>
        </div>
        <div class="account-type-select owner-select">
          <div class="content-box-icon"><i class="material-icons">vpn_key</i></div>
          <div class="content-box-info">
            <h2 class="content-box-name">Vlasničke mogućnosti</h2>
            <p class="content-box-descr">Upravljajte svojom radiopostajom</p>
          </div>
          <ul class="content-box-options">       
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;ManageAdmins&quot;]">
                <div class="option-name">Administratori</div>
                <div class="option-descr">Pregledajte, dodajte ili uklonite administratore postaje   </div></a></li>
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;ManageRadiostation&quot;]">
                <div class="option-name">Podaci o postaji</div>
                <div class="option-descr">Pregledajte i izmijenite podatke o radiopostaji</div></a></li>
            <li><a [routerLink]="[&quot;/Settings&quot;, &quot;ShowStats&quot;]">
                <div class="option-name">Statistike</div>
                <div class="option-descr">Pregledajte razne statistike o radu radiopostaje    </div></a></li>
          </ul>
        </div>
      </div>
      <div class="content-box">
        <div class="content-box-icon"><i class="material-icons">account_box</i></div>
        <div class="content-box-info">
          <h2 class="content-box-name">Postavke računa</h2>
          <p class="content-box-descr">Upravljajte postavkama vlastitog korisničkog računa</p>
        </div>
        <ul class="content-box-options">
          <li><a [routerLink]="[&quot;/Settings&quot;, &quot;AccountData&quot;]">
              <div class="option-name">Osobni podaci</div>
              <div class="option-descr">Pregledajte i uredite svoje osobne podatke </div></a></li>
          <li><a [routerLink]="[&quot;/Settings&quot;, &quot;AccountPassword&quot;]">
              <div class="option-name">Promjena lozinke</div>
              <div class="option-descr">Promijenite lozinku pomoću koje pristupate sustavu          </div></a></li>
          <li><a [routerLink]="[&quot;/Settings&quot;, &quot;AccountDelete&quot;]">
              <div class="option-name">Brisanje računa</div>
              <div class="option-descr">Zauvijek izbrišite vlastiti korisnički račun</div></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>