.center-area
  header.center-header
    .view-path Promijeni lozinku
  .center-content
    header.content-header
      .content-header-left
        .content-header-title Promjena lozinke
        .content-header-subtitle
          | Ppromijenite lozinku
          | kojom pristupate svom korisničkom računu. Preporučamo
          | da, zbog veće sigurnosti, u lozinci koristite 
          b
            | velika i
            | mala slova, brojeve i posebne znakove.
      .content-header-right
        i.material-icons.icon vpn_key
    .content-primary.content-form
      form( '(ngSubmit)'="submitChange()" )
        .form-line
          label(for='old_password') Stara lozinka
          input(type='password', name='old_password', pattern='.{6,64}' '[(ngModel)]'="old_password")
        .form-line
          label(for='new_password1') Nova lozinka
          input(type='password', name='new_password1', pattern='.{6,64}' '[(ngModel)]'="new_password1")
        .form-line
          label(for='new_password2') Ponovljeno
          input(type='password', name='new_password2', pattern='.{6,64}' '[(ngModel)]'="new_password2")
        .form-line
          .left-spacer
          button.raised( type = 'submit' ) Promijeni lozinku
