.content-box
  .content-box-icon
    i.material-icons directions_run
  .content-box-content
    h2.content-box-name Aktivnost korisnika
    p.content-box-descr Pogledajte koliko je korisnika trenutno aktivno u sustavu.
    .stat.user-activity-stat
      .single-stat
        .single-stat-number {{ count }}
        .single-stat-descr Broj trenutno aktivnih korisnika
