
<div class="center-area">
  <header class="center-header">
    <div class="view-path">Promijeni lozinku</div>
  </header>
  <div class="center-content">
    <header class="content-header">
      <div class="content-header-left">
        <div class="content-header-title">Promjena lozinke</div>
        <div class="content-header-subtitle">
          Ppromijenite lozinku
          kojom pristupate svom korisničkom računu. Preporučamo
          da, zbog veće sigurnosti, u lozinci koristite <b>
            velika i
            mala slova, brojeve i posebne znakove.</b>
        </div>
      </div>
      <div class="content-header-right"><i class="material-icons icon">vpn_key</i></div>
    </header>
    <div class="content-primary content-form">
      <form (ngSubmit)="submitChange()">
        <div class="form-line">
          <label for="old_password">Stara lozinka</label>
          <input type="password" name="old_password" pattern=".{6,64}" [(ngModel)]="old_password"/>
        </div>
        <div class="form-line">
          <label for="new_password1">Nova lozinka</label>
          <input type="password" name="new_password1" pattern=".{6,64}" [(ngModel)]="new_password1"/>
        </div>
        <div class="form-line">
          <label for="new_password2">Ponovljeno</label>
          <input type="password" name="new_password2" pattern=".{6,64}" [(ngModel)]="new_password2"/>
        </div>
        <div class="form-line">
          <div class="left-spacer"></div>
          <button type="submit" class="raised">Promijeni lozinku</button>
        </div>
      </form>
    </div>
  </div>
</div>