
<div [ngClass]="{&quot;state-editable&quot; : editable, &quot;state-uneditable&quot; : !editable}" class="center-area">
  <header class="center-header">
    <div class="view-path">Termini reprodukcije > Uredi listu za reprodukciju</div>
  </header>
  <div class="center-content">
    <header class="content-header">
      <div class="content-header-left">
        <div class="content-header-title">Lista za reprodukciju</div>
        <div class="content-header-subtitle">
          Odaberite zvučne zapise
          za reprodukciju u danom terminu emitiranja. Trajanje liste je <b>1 sat</b>,
                                  a u obzir pri njenom sastavljanju možete uzeti želje koje su izrazili korisnici
                                  postaje.
        </div>
      </div>
      <div class="content-header-right"><i class="material-icons icon">queue_music</i></div>
    </header>
    <nav class="content-options uneditable-ui">
      <button (click)="toggleEditable()">Izmijeni listu za reprodukciju</button>
    </nav>
    <nav class="content-options editable-ui">
      <button (click)="submitPlaylist()">Spremi listu za reprodukciju</button>
      <button (click)="resetPlaylist()">Odustani od promjena</button>
    </nav>
    <ul class="content-primary content-list">
      <li class="content-list-item progress-item">
        <div class="content-list-item-content">
          <label for="">Trajanje liste</label>
          <div class="progress-bar">
            <div class="progress-value">{{ minutesSpent }}:{{ secondsSpent }} / 60:00</div>
            <div [ngStyle]="{ 'width':barPercentage + '%' }" class="progress-indicator"></div>
          </div>
        </div>
      </li>
      <li class="content-list-item content-list-search-item editable-ui">
        <form>
          <div class="content-list-item-content">
            <label for="add_track_search">Dodaj na listu</label>
            <input type="text" name="add_track_search" (keydown)="enterCheck($event)" [(ngModel)]="trackSearch" autocomplete="off" class="add-item-search"/>
          </div>
          <div class="content-list-item-options">
            <button [disabled]="!matching" (click)="addTrack()" class="raised add-item-button"><i class="material-icons">playlist_add</i></button>
          </div>
        </form>
      </li>
      <div>
        <li *ngFor="#track of searchResults" class="content-list-item closest-match-item track-item">
          <div class="content-list-item-content">
            <div class="content-list-item-name">{{track.title}}</div>
            <div class="content-list-item-data">
              <div class="content-list-item-data-item track-duration">{{ track.minutes }}:{{ track.seconds }}</div>
              <div class="content-list-item-data-item track-artist-dim">{{track.artist}}</div>
              <div class="content-list-item-data-item track-album">{{track.album}}</div>
            </div>
          </div>
        </li>
      </div>
      <li *ngFor="#track of playlist" class="content-list-item track-item">
        <div class="content-list-item-content">
          <div class="content-list-item-name">{{track.title}}</div>
          <div class="content-list-item-data">
            <div class="content-list-item-data-item track-duration">{{ track.minutes }}:{{ track.seconds }}</div>
            <div class="content-list-item-data-item track-artist-dim">{{track.artist}}</div>
            <div class="content-list-item-data-item track-album">{{track.album}}</div>
          </div>
        </div>
        <div class="content-list-item-options editable-ui">
          <button (click)="removeTrack(track)" class="alt"><i class="material-icons">clear</i></button>
        </div>
      </li>
    </ul>
  </div>
  <div class="center-side">
    <div class="center-side-header">
      <div class="center-side-title">Korisničke želje</div>
      <div class="center-side-subtitle">Pogledajte što korisnici žele slušati u programu radio postaje.</div>
    </div>
    <div class="center-side-content">
      <ul class="global-wishlist">
        <li *ngFor="#track of wishes" class="global-wishlist-item">
          <div class="gw-track">
            <div class="gw-track-name">{{ track.title }}</div>
            <div class="gw-track-artist">{{ track.artist }}</div>
          </div>
          <div class="gw-option editable-ui">
            <button (click)="addTrackToPlaylist( track.copy() )"><i class="material-icons">playlist_add</i></button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>