div.station
    h2 {{ name }}
    ul.radiostation-info-list
      li.radiostation-info-item
        .rs-item-name Frekvencija
        .rs-item-value {{ frequency }} MHz
      li.radiostation-info-item
        .rs-item-name Adresa
        .rs-item-value {{ address }}
      li.radiostation-info-item
        .rs-item-name Osobni Identifikacijski Broj
        .rs-item-value {{ oib }}
      li.radiostation-info-item
        .rs-item-name E-mail adresa
        .rs-item-value {{ email }}
